<!DOCTYPE html>
<html lang="zxx">
  <%- include("layouts/header") %>

  <body>
    <!-- Navigation contents -->
    <%- include("layouts/navbar") %>

    <!-- background image is populated here -->
    <header class="hero login_hero" id="home">
      <h1>Examiner</h1>
    </header>

    <main>
      <!-- button to move the page at the the top -->
      <button id="go_to_top" title="Go to top">^</button>

      <div class="appointment_filter">
        <p>View Appointment By: </p>
        <a href="/examiner">All</a>
        <a href="/examiner?testType=G2">G2</a>
        <a href="/examiner?testType=G">G</a>
      </div>

      <section id="examiner_container">
        <p class="th">S.N.</p>
        <p class="th">Name</p>
        <p class="th">DOB</p>
        <p class="th">Test Type</p>
        <p></p>

        <% if(filteredUsers.length > 0) { filteredUsers.forEach((user, index) =>
        {%>
        <p><%=index+1%></p>
        <p><%=`${user.firstName} ${user.lastName}`%></p>
        <p><%=user.dob.toISOString().split('T')[0]%></p>
        <p><%=user.testType%></p>
        <p><a href="/userDetail/<%= user._id %>">View</a></p>
        <% })} else { %>
        <p class="no_users">No Users Yet!</p>
        <% } %>
      </section>
    </main>

    <%- include("layouts/footer") %> <%- include("layouts/scripts") %>
  </body>
</html>
