<!DOCTYPE html>
<html lang="zxx">
  <%- include("layouts/header") %>

  <body>
    <!-- Navigation contents -->
    <%- include("layouts/navbar") %>

    <!-- background image is populated here -->
    <header class="hero login_hero" id="home">
      <h1>Login</h1>
    </header>

    <main>
      <!-- button to move the page at the the top -->
      <button id="go_to_top" title="Go to top">^</button>

      <section id="login_form_container">
        <form id="login_form" action="/login" method="POST">
          <fieldset id="login_form_fieldset">
            <label for="form_username"
              >Username <span class="required">*</span></label
            >
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Username"
              pattern="[a-zA-Z0-9.]{3,}"
              value="<%= username %>"
              required
            />

            <label for="form_password"
              >Password <span class="required">*</span></label
            >
            <input
              type="password"
              id="password"
              name="password"
              placeholder="Password"
              value="<%= password %>"
              required
            />

            <!-- This field will be populated from js if there are errors when submitting the form. -->
            <% if (hasError) {%>
            <div id="errors">
              <p>The credentials did not match. Try again or signup!</p>
            </div>
            <% } %>

            <label for="submit"></label>
            <input type="submit" name="submit" id="login_submit" value="LOGIN" />
            <p>Do not have an account? <a href="/signup">Sign up</a></p>
          </fieldset>
        </form>
      </section>
    </main>

    <%- include("layouts/footer") %> <%- include("layouts/scripts") %>
  </body>
</html>
